/* VKFLAT. Сoбрано и сделано vk.com/vkflatdesign  */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("vk.com") {
body, .page_block, .fl_l {font-size:14px!important;}
.leave_redesign, #ads_left, .top_profile_name, .left_settings_inner, .audio_layer_bottom {display:none!important;}
.no_current_info:hover, .my_current_info:hover {background:transparent!important;}
* {text-decoration:none!important;}
.post_full_like_wrap {border-top:none!important;padding: 0px 0 11px!important;}
.post_like, .post_share {padding: 8px 10px!important;}
.wall_module .post {line-height:12px!important;}
.page_post_sized_thumbs a.page_post_thumb_last_row, .page_block, .emoji, .emoji_css, .im-page, .wr_header {border-radius:3px!important;}
.top_audio_layer {padding:0px!important;}
.feed_new_posts {background:#f0f2f5!important;border:0!important;}
}
